<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="wrapper">
        <div class="static-txt">One place for</div>
        <ul class="dynamic-txt">
            <li><span>Calls</span></li>
            <li><span>Events</span></li>
            <li><span>Meetings</span></li>
            <li><span>Collaborations</span></li>
        </ul>
    </div>
    <div class="container2"> 
        <div class="instantMeet">     
            <h5>Login To Continue</h5>
            <a href="/login"><button class="btn btn-dark" id="createRoom">Login</button></a>  
        </div>
    </div>
</body>
</html>