<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const room_id = "<%= roomId %>"
    </script>
    
    <title>Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <!-- <div class="header">
        <input value="<%= roomId%>" id="meetingId" hidden/>
        <button onclick="copy()">Copy Meeting ID</button>
        <button onclick="share()">Copy Meeting Link</button>
        <button id="disconnect">Leave</button>
    </div>
    <div id="video-grid"></div>
    <div class="right">
        <div class="chatHeader">
            <h6><span class="live"></span>LIVE CHAT</h6>
        </div>
        <div class="chatWindow" id="chatWindow">
            <ul class="messages" id="allMessages"></ul>
        </div>
        <div class="messageContainer">
            <input type="text" id="chat" placeholder="Type message and press enter to send"/>
            <button class="sendMsg" id="sendMsg">Send</button>
        </div>
    </div>
    <div class="footer">
        <button id="muteUnmute">Mute</button>
        <button id="playStop">Video Off</button>
        <button onclick="screenshare()">Share Screen</button>
    </div> -->


    <!-- <h1>Share the below room ID</h1> -->
    <!-- <input value="<%= roomId%>" id="meetingId"/> -->

    <!-- <video id="gum-local" autoplay playsinline muted></video> -->
    <!-- <div id="share"></div>
    <button id="startButton">Start</button> -->
    <div class="outer">
        <div class="showChatLeft" id="left">
            <div class="videos">
                <div id="video-grid"></div>
            </div>
            <div class="mainControls">
                <div class="controlBlock">
                    <div class="controlButton dropDown" onclick="showInfo()">
                        <i class="fa fa-info-circle"></i>
                        <span>Meeting Info</span>
                    </div>
                    <div class="dropdown-content" id="dropdown-content">
                        <h6>Copy the below meeting Id to share with others</h6>
                        <input value="<%= roomId%>" id="meetingId"/>
                        <i onclick="copy()" class="fa fa-files-o"></i>
                        <h6 id="linkInfo">Or copy the below meeting link to share</h6>
                        <button onclick="share()">Copy Meeting Link</button>
                    </div>
                </div>
                <div class="controlBlock">
                    <div class="controlButton" id="muteUnmute" onclick="startGlow()">
                      <i class="fa fa-microphone"></i>
                      <span>Mute</span>
                    </div>
                    <div class="controlButton" id="playStop">
                      <i class="fa fa-video-camera"></i>
                      <span>Video Off</span>
                    </div>
                    <div class="controlButton" onclick="screenshare()">
                        <i class="fa fa-share-square-o"></i>
                      <span>Share Screen</span>
                    </div>
                    <div class="controlButton" onclick="showList()">
                        <i class="fa fa-users"></i>
                        <span>Participants</span>
                    </div>
                    <div class="controlButton" id="chatButton" onclick="showChat()">
                        <i class="fa fa-comment"></i>
                        <span>Chat</span>
                    </div>
                    <!-- test -->
                    <div class="controlButton" id="raiseHandButton">
                        <i class="fa fa-hand-paper-o"></i>
                        <span>Raise Up</span>
                    </div>
                </div>

                  <!-- <div class="participantsList" id="participantsList">
                      <div class="listHead">
                        <h6>Participants</h6>
                      </div>
                      <div class="names" id="names">

                      </div>
                  </div> -->

                  <!-- <div class="controlBlock"> -->
                    <div class="leaveMeeting" id="disconnect">
                      <span class="">Leave Meeting</span>
                    </div>
                  <!-- </div> -->

            </div>
        </div>
        <div class="participantsList" id="participantsList">
            <div class="listHead">
              <h6>Participants</h6>
            </div>
            <div class="names" id="names">

            </div>
        </div>
        <div class="showChatRight" id="right">
            <div class="chatHeader">
                <h6>LIVE CHAT</h6>
            </div>
            <div class="messageContainer" id="messageContainer">
                <ul class="messages" id="allMessages"></ul>
            </div>
            <div class="sendContainer">
                <input type="text" id="chat" placeholder="Type message here"/>
                <button class="sendMsg" id="sendMsg" type="submit"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>
</html>