@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
video {
  height: 300px;
  width: 400px;
  object-fit: contain;
  margin: 10px 10px 10px 10px;
  border: 5px solid #000;
}
/* test */
.video-container{
  display: flex;
  flex-direction: column;
}
/* test */
.outer {
  height: 100%;
  display: flex;
}
.left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #343F4F;
  border-left: 1px solid #3d3d42;
}
.videos {
  flex-grow: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainControls {
  display: flex;
  background-color: #343F4F;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
  height: 55px;
}
.controlBlock {
  display: flex;
}
.controlButton {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
  height: 40px;
}
.controlButton span {
  margin-top: 5px;
  display: block;
  font-size: 10px;
}
.controlButton:hover {
  background-color: #4c5d75;
}
.controlButton i {
  font-size: 18px;
  padding-top: 2px;
}
.leaveMeeting {
  background-color: red;
  color: #fff;
  height: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 4px;
}

.leaveMeeting:hover {
  background-color: #4c5d75;
}

.leaveMeeting span{
  margin-top: 0px;
  display: block;
  font-size: 10px;
}

.chatHeader {
  color: #f5f5f5;
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid #4c5d75;
}
.chatHeader h6{
  margin-top: 8px;
  font-size: 12px;
}
.messageContainer {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 20px 0 20px;
}

.messageContainer ul{
  padding: 0px 0px 0px 10px;
}
.sendContainer {
  padding: 11px 11px;
  display: flex;
}
.sendContainer input {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid #4c5d75;
  color: #f5f5f5;
  user-select: none;
  outline: none;
  font-size: 12px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  padding: 3px 0px 3px 5px;
  margin: 8px 1px 5px 2px;
}

.sendContainer input:focus {
  box-shadow: 0 0 5px #4c5d75;
  padding: 3px 0px 3px 3px;
  margin: 8px 1px 5px 2px;
  border: 1px solid #4c5d75;
}

.sendContainer button{
  background-color: #343F4F;
  color: #d2d2d2;
  padding: 2px;
  margin: 8px 0px 5px 2px;
  width: 35px;
  height: 35px;
}

#allMessages li {
  color: #fff;
  list-style: none;
  border-bottom: 1px solid #3d3d42;
  padding: 10px 0;
  font-size: 12px;
}
.unmute {
  color: red;
}
.showChatRight{
  display: none;
  position: fixed;
  width: 100%;
  /* height: calc(100% - 65px); */
  height: 100%;
  opacity: 0.8;
}

.showChatLeft{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.userName{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 115px;
  left: 450px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 60px;
  height: 230px;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-content input{
  width: 290px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 20px 5px 20px 10px;
  padding: 5px;
}

.dropdown-content h6{
  margin: 10px 10px 0px 10px;
  color: #000;
  font-size: 15px;
}

.dropdown-content #linkInfo{
  margin: 10px 10px 0px 10px;
}

.dropdown-content button{
  height: 35px;
  width: 310px;
  margin: 20px 10px 20px 10px;
  border-radius: 5px;
  border: none;
  background-color: #343F4F;
  color: #f1f1f1;
}

.dropdown-content button:hover{
  background-color: #4c5d75;
}

.dropdown-content i{
  color: #000;
  cursor: pointer;
}

.participantsList{
  flex: 0.25;
  display: none;
  flex-direction: column;
  background-color: #343F4F;
  border-left: 1px solid #3d3d42;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.participantsList .listHead{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #343F4F;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #4c5d75;
}

.participantsList .listHead h6{
  margin-top: 8px;
  font-size: 15px;
  color: #f1f1f1;
}

.participantsList .names{
  margin: 20px 10px 10px 20px;
}

.participantsList .names h6{
  color: #f1f1f1;
  padding: 0px;
}

/*layout adjustment*/
.one{
  height: 400px;
  width: 500px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

.two{
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

.four{
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

.six{
  height: 150px;
  width: 250px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

.eight{
  height: 100px;
  width: 150px;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
}

.test{
  border: 2px solid green;
  box-shadow: 0 0 10px 5px green;
}

.none{
  border: none;
  box-shadow: none;
}